In [42]:
import pandas as pd
import numpy as np
print(pd.__version__)

0.24.2

In [43]:
#Basics for series
myList = [10,20,30,40,50]

#Coverting list to a series
myLstSeries = pd.Series(myArr)
print(myLstSeries)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [44]:
#Series from dictionary
myDict = {'a':10,'b':20,'c':30,'d':40,'e':50}
myDictSeries = pd.Series(myDict)
print(myDictSeries)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [45]:
#slicing a series
print(myDictSeries[2:]) #ignoring first 2
print(myDictSeries[:3]) #first 3
print(myDictSeries[:-2]) #ignoring last two

c    30
d    40
e    50
dtype: int64
a    10
b    20
c    30
dtype: int64
a    10
b    20
c    30
dtype: int64

In [46]:
#Appending serieses
print(myLstSeries.append(myDictSeries))

0    10
1    20
2    30
3    40
4    50
a    10
b    20
c    30
d    40
e    50
dtype: int64

In [47]:
#deleting a series element
myLstSeries = myLstSeries.drop(1)
print(myLstSeries)

0    10
2    30
3    40
4    50
dtype: int64

In [48]:
s1 = [1,2,3,4,5,6,7]
s2 = [1,2,3,4,5]

In [49]:
s1 = pd.Series(s1)
s2 = pd.Series(s2)
s1.add(s2)

0     2.0
1     4.0
2     6.0
3     8.0
4    10.0
5     NaN
6     NaN
dtype: float64

In [50]:
s1.sub(s2)

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    NaN
6    NaN
dtype: float64

In [51]:
s1.mul(s2)

0     1.0
1     4.0
2     9.0
3    16.0
4    25.0
5     NaN
6     NaN
dtype: float64

In [52]:
s1.div(s2)

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    NaN
6    NaN
dtype: float64

In [53]:
s1.median()

4.0

In [54]:
s1.max()

7